* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #222;
}

.game_board {
    display: flex;
    justify-content: space-evenly;
    background-color: #333;
    width: 90%;
    height: 90%;
    border-radius: 1em;
}
/* GAME CARD PLAYER */
.card_player {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 25em;
    height: 80%;
    background-image: url(./IMAGES/Parchemin_fond_carte.png);
    background-size: cover;
    border-radius: 2em;
    margin: 20% 0;
}
/* EVENTS CARDS ZONE */
.events-zone {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 25em;
    height: 90%;
    background-image: url(./IMAGES/Parchemin_fond_carte.png);
    background-size: cover;
    border-radius: 2em;
    margin-top: 2.5%;
}
/* TEXT WINDOW ZONE */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50em;
    height: 50em;
    padding: 2em;
    border-radius: 1em;
    background-image: url(./IMAGES/Background_boardgame_scroll.png);
    background-size: cover;
    color: #f1f1f1;
}

h1 {
    position: relative;
    display: flex;
    justify-content: center;
    font-family: 'New Rocker', display;
    width: 7em;
    height: 2.2em;
    color: #222;
    font-size: 5em;
    left: -0.5em;
}

.welcome {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 45em;
    top: .5em;
    right: .5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f1f1f1;
    font-size: 1.1em;
}

.welcome a {
    color: brown;
}

.userName {
    font-family: 'Chelsea Market', display;
    font-size: 1em;
}

.dungeon {
    position: absolute;
    font-family: 'Chelsea Market', display;
    margin-top: 1.32em;
    margin-left: 4.5em;
    font-size: .6em;
    transform: rotate(-6deg);
    color: brown;
}

h2 {
    height: 1.2em;
    color: #444;
    font-size: 3em;
    font-family: 'Bigelow Rules', display;
    letter-spacing: .05em;
}

.boxError {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30em;
    height: 1.6em;
    margin-bottom: .1em;
    font-size: 1.2em;
    color: brown;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30em;
    height: 15em;
    flex-direction: column;
    gap: 1em;
}

.account_link {
    font-size: 1.1em;
    margin-top: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.account_link a {
    color: brown;
    font-weight: 400;
}

/* Styles pour l'input */
.input-group {
    position: relative;
    margin-bottom: 1.6em;
}

.input {
    border: solid 1.5px #333;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1.2rem;
    color: #333;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 16em;
}

.user-label {
    position: absolute;
    left: 1em;
    font-size: 1.1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #222;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
.input:valid {
    outline: none;
    border: 1.5px solid #222;
}

.input:focus~.user-label,
.input:valid~.user-label {
    transform: translateY(150%) scale(0.9);
    background-color: #222;
    padding: .1em .4em .3em .4em;
    color: #f1f1f1;
}

/* Bouton submit */
button {
    font-size: 18px;
    color: #222;
    font-family: 'Chelsea Market', display;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

button:focus,
button:hover {
    color: #222;
}

button:focus:after,
button:hover:after {
    width: 100%;
    left: 0%;
}

button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: brown;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

